---
import BaseLayout from "../components/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="container">
    <header class="post-header">
      <h1>{title}</h1>
      <p class="post-header__date">
        Opublikowano: <FormattedDate date={pubDate} />
      </p>
      {
        updatedDate && (
          <p class="post-header__date">
            Ostatnie zmiany: <FormattedDate date={updatedDate} />
          </p>
        )
      }
      <p>{ description }</p>
    </header>
    <div class="rich-text">
      <slot />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 0 3rem;
    text-align: center;

    &__date {
      font-size: 0.875rem;
    }
  }
</style>
